<!DOCTYPE html>
<html  lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%=titlePage %> </title>
    <link href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/plugin/datatables/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="./assets/plugin/datatables/dataTables.bootstrap5.min.css" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self';script-src 'self' https://code.jquery.com; style-src 'self'">
    <link rel="stylesheet" href="./assets/css/ebazar.style.min.css" />
    <style>
      .dtHorizontalVerticalExampleWrapper {
        margin: 0 auto;
      }
      #dtHorizontalVerticalExample th, td {
        white-space: nowrap;
      }
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
          bottom: .5em;
        }
    </style>
  </head>
  <body>
    <div id="ebazar-layout" class="theme-blue">
      <!-- sidebar -->
      <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
          <a href="index.html" class="mb-0 brand-icon">
            <span class="logo-icon">
              <i class="bi bi-bag-check-fill fs-4"></i>
            </span>
            <span class="logo-text">NFood Fast</span>
          </a>
          <!-- Menu: main ul -->
          <ul class="menu-list flex-grow-1 mt-3">
            <li>
              <a class="m-link" href="index.html"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a>
            </li>
            <li class="collapsed">
              <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-product" href="#">
                <i class="icofont-truck-loaded fs-5"></i> <span>Products</span>
                <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span
              ></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-product">
                <li><a class="ms-link" href="product-grid.html">Product Grid</a></li>
                <li><a class="ms-link" href="product-list.html">Product List</a></li>
              </ul>
            </li>
            <li class="collapsed">
              <a class="m-link" data-bs-toggle="collapse" data-bs-target="#categories" href="#">
                <i class="icofont-chart-flow fs-5"></i> <span>Categories</span>
                <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span
              ></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="categories">
                <li><a class="ms-link" href="categorie-list.html">Categories List</a></li>
                <li><a class="ms-link" href="categories-edit.html">Categories Edit</a></li>
              </ul>
            </li>
            <li class="collapsed">
              <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="#">
                <i class="icofont-notepad fs-5"></i> <span>Orders</span>
                <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span
              ></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-order">
                <li><a class="ms-link" href="/order">Orders List</a></li>
                <li><a class="ms-link" href="#">Order Details</a></li>
              </ul>
            </li>
            <li class="collapsed">
              <a class="m-link" data-bs-toggle="collapse" data-bs-target="#customers-info" href="#">
                <i class="icofont-funky-man fs-5"></i> <span>Customers</span>
                <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span
              ></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="customers-info">
                <li><a class="ms-link" href="customers.html">Customers List</a></li>
                <li><a class="ms-link" href="customer-detail.html">Customers Details</a></li>
              </ul>
            </li>
            <li class="collapsed">
              <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-inventory" href="#">
                <i class="icofont-bank-transfer fs-5"></i> <span>Yêu cầu rút tiền</span>
                <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span
              ></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-inventory">
                <li><a class="ms-link" href="/transaction?type=vendor">Người bán hàng</a></li>
                <li><a class="ms-link" href="/transaction?type=shipper">Người giao hàng</a></li>
              </ul>
            </li>
            <li class="collapsed">
              <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Componentsone" href="#"
                ><i class="icofont-funky-man"></i> <span>Quản lý người dùng</span>
                <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span
              ></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-Componentsone">
                <li><a class="ms-link" href="/buyer">Người mua </a></li>
                <li><a class="ms-link" href="/vendor">Người bán </a></li>
                <li><a class="ms-link" href="/shipper">Người giao hàng </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- main body area -->
      <div class="main px-lg-4 px-md-4">
        <!-- Body: Header -->
        <div class="header">
          <nav class="navbar py-4">
            <div class="container-xxl">
              <!-- header rightbar icon -->
              <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                  <div class="u-info me-2">
                    <p class="mb-0 text-end line-height-sm"><span class="font-weight-bold">John Quinn</span></p>
                    <small>Admin Profile</small>
                  </div>
                  <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                    <img class="avatar lg rounded-circle img-thumbnail" src="./assets/images/profile_av.svg" alt="profile" />
                  </a>
                  <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                    <div class="card border-0 w280">
                      <div class="card-body pb-0">
                        <div class="d-flex py-1">
                          <img class="avatar rounded-circle" src="./assets/images/profile_av.svg" alt="profile" />
                          <div class="flex-fill ms-3">
                            <p class="mb-0"><span class="font-weight-bold">John Quinn</span></p>
                            <small class="">Johnquinn@gmail.com</small>
                          </div>
                        </div>

                        <div><hr class="dropdown-divider border-dark" /></div>
                      </div>
                      <div class="list-group m-2">
                        <a href="admin-profile.html" class="list-group-item list-group-item-action border-0"
                          ><i class="icofont-ui-user fs-5 me-3"></i>Profile Page</a
                        >
                        <a href="order-invoices.html" class="list-group-item list-group-item-action border-0"
                          ><i class="icofont-file-text fs-5 me-3"></i>Order Invoices</a
                        >
                        <a href="ui-elements/auth-signin.html" class="list-group-item list-group-item-action border-0"
                          ><i class="icofont-logout fs-5 me-3"></i>Signout</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0"></div>
            </div>
          </nav>
        </div>

        <!-- Body: Body -->
        <div class="body d-flex py-3">
          <div class="container-xxl">