<div class="modal fade" id="modalOrder" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Chi tiết đơn hàng #64646474647HDGSH</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom_setting">
        <div class="setting-mode py-3">
          <h6 class="card-title mb-2 fs-6 d-flex align-items-center">
            <i class="icofont-layout fs-4 me-2 text-primary"></i>Danh sách món ăn
          </h6>
          <ul class="list-group list-unstyled mb-0 mt-1">
          
          </ul>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-white border lift" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary lift">Save Changes</button>
      </div>
    </div>
  </div>
</div>
