<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading" style="color: red">
    <a href="/">Management</a>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" href="#">Users</a>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" href="#">Categories</a>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" href="#">Orders</a>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" href="#">Reports</a>
  </div>
</div>
